.prodct_wrap{
    padding:0px 0px 65px 0px; margin-top: 75px; background: #f1f0f6;
}
.radbtns_wrapper{ background-color:#00b0ef; padding: 0px 30px;}
.src-filter .radio { display: inline-block; padding-top: 10px; padding-bottom: 10px;}


.blue-bg{background-color:#00b0ef;margin-top:80px}
.radio{ display: inline-block;}
.grg select.form-control.cvo-control.s-styled.hasCustomSelect{margin:0}
.radio{padding-right:20px}
.radio label{display:inline-block;position:relative;padding-left:5px}
.radio label::before{content:"";display:inline-block;position:absolute;width:17px;height:17px;left:0;margin-left:-20px;border:1px solid #ccc;border-radius:50%;background-color:#fff;-webkit-transition:border .15s ease-in-out;-o-transition:border .15s ease-in-out;transition:border .15s ease-in-out}
.radio label::after{display:inline-block;position:absolute;content:" ";width:11px;height:11px;left:3px;top:3px;margin-left:-20px;border-radius:50%;background-color:#555;-webkit-transform:scale(0,0);-ms-transform:scale(0,0);-o-transform:scale(0,0);transform:scale(0,0);-webkit-transition:-webkit-transform .1s cubic-bezier(0.8,-0.33,0.2,1.33);-moz-transition:-moz-transform .1s cubic-bezier(0.8,-0.33,0.2,1.33);-o-transition:-o-transform .1s cubic-bezier(0.8,-0.33,0.2,1.33);transition:transform .1s cubic-bezier(0.8,-0.33,0.2,1.33)}
.radio input[type="radio"]{opacity:0}
.radio input[type="radio"]:focus + label::before{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.radio input[type="radio"]:checked + label::after{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1)}.radio input[type="radio"]:disabled + label{opacity:.65}
.radio input[type="radio"]:disabled + label::before{cursor:not-allowed}.radio.radio-inline{margin-top:0}.radio-info input[type="radio"] + label::after{background-color:#5bc0de}.radio-info input[type="radio"]:checked + label::before{border-color:#5bc0de}
.radio-info input[type="radio"]:checked + label::after{background-color:#0789b8}.src-filter .radio label{display:inline-block;position:relative;padding-left:5px;margin:0;color:#fff;cursor:pointer}.radio label::before{top:5px}.radio label::after{top:8px;background-color:#0789b8}
.src-filter .radio{display:inline-block;padding-top:10px;padding-bottom:10px}.src-drp{display:inline-block}.src-drp li a{color:#fff;padding:0 30px}
.src-drp li a:hover{color:#fff}
.dropbtn{background-color:#00b0ef;color:#fff;padding:16px;font-size:16px;border:none;cursor:pointer;font-size:15px;font-weight:400}.dropbtn:hover,.dropbtn:focus{background-color:#00b0ef}.dropdown{position:relative;display:inline-block}
.dropdown-content{position:absolute;background-color:#f9f9f9;min-width:160px;overflow:auto;box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);z-index:9999}.dropdown-content a{color:#000;padding:12px 16px;text-decoration:none;display:block}
.dropdown a:hover{ position: static;}.show{display:block}
.dropbtn{ outline: none;}
.nice-title{ display: inline-block; margin-left: 15px; font-size: 14px;}
.nice-title span { color: #00afef; font-weight: 100;}
.zerocol{ padding-left: 0px; padding-right: 0px;}

.sortselecter{
    border: 1px solid #d7d9db; -webkit-border-radius: 0!important; -moz-border-radius: 0!important;
    border-radius: 0!important; box-shadow: none; color: inherit; font-size: 13px; height: 37px;
    vertical-align: middle; -webkit-writing-mode: horizontal-tb; background: none; font-size: 13px;
    padding: 5px 15px; cursor: pointer; width: 100%; max-width: 160px; float: right;
}

/*inner product data*/
.inrpro_data{ background-color: #fff; padding: 15px 0px; margin: 15px 0px;}
.tp_cities{ font-size: 13px; margin-top:10px; color: #999;}
.tp_cities span{ margin-left: 10px;}
.prd_title{ padding: 0 0 10px 0px; margin: 0; text-align: left; font-size: 18px; font-weight: 600; color: #3f3f3f;}
.prd_title a{ text-decoration: none; color: #3f3f3f;}
.prd_title a:hover{ color: #00afef;}

.grg-brf { font-size: 12px; line-height: initial; color: #787887; font-family: 'Open Sans',sans-serif;
    font-weight: 500;
}
.grg a{ text-decoration: none; color: #00afef;}
i.fa.fa-star.orange-color { color: #ffbe00;}
.star .fa-star-o { color: #ffbe00 !important;}

.grg-btn { width: 100%; padding: 3px 0; margin: 9px 0 0; font-size: 14px; line-height: inherit;}
.sc_item_button { line-height: 38px; width: auto; padding: 0 25px; font-size: 16px; color: #fff;  width: 100%; 
    background-color: #00aff0; border: #00aff0; cursor: pointer; text-align: center; margin-top: 5px; border-radius: 2%;
}
.prdo_feed{ font-size: 13px; margin-bottom: 0px!important; margin-top: 5px;}
.prdo_feed span{ margin-right: 5px;}
.add_bor{ border-left:1px solid #ddd;}
.carz_list{ list-style: none; padding: 0px; margin:0px;}
.carz_list li {display: inline-block; list-style: none; font-size: 12px;
    background-color: #f2f2f2; margin: 0 0 5px; border-radius: 2px;
}
.carz_list li a {color: #787887; padding: 3px 10px;}
.carz_list span{  font-size: 12px; display: block;} 
.srv_tags { display: table; border-bottom: 1px solid #b9b9b9; font-weight: 600; color: #424147;
    font-size: 15px; margin-top: 10px;
}
.service_lst{ list-style: none; padding: 0px; margin: 0px;}
.service_lst li{ font-size: 12px; color: #787887; display: inline-block; padding-right: 10px;}
.service_lst li a{ color: #787887; text-decoration: none; }

.checkbox.checkbox-1 { display: inline-block;
    width: 24%;
    padding: 0;
    margin: 4px 0;
    font-size: 13px;
}

input[type=checkbox],input[type=radio]{margin-right:.5rem}
.checkbox-1 input[type=checkbox]{opacity:0}
.checkbox-1{position:relative;margin-bottom:0;color:#3f3f3f}
.checkbox-1 label{position:absolute;left:4px;top:4px;width:auto;height:auto;text-align:center;border-radius:0;background:#eee;content:'';cursor:pointer;margin:0;font-size:12px;padding:1px}
.checkbox-1 input[type=checkbox] + label{color:#fff;background-color:#fff;border:1px solid #ddd}
.checkbox-1 input[type=checkbox]:checked + label::before{color:#333}
.checkbox-1 input[type=checkbox]{opacity:0}.radio-1{position:relative;margin-bottom:.7rem}
.radio-1 label{position:absolute;left:-.2rem;top:.3rem;width:1.7rem;height:1.7rem;font-size:1rem;text-align:center;border-radius:2rem;background:#eee;content:'';line-height:1.4;cursor:pointer}
.radio-1 input[type=radio] + label{color:#fff;background-color:#fff;border:1px solid #ddd}
.radio-1 input[type=radio]:checked + label::before{color:#333}.checkbox-1 input[type=checkbox]:checked + label::before{content:"\f00c";color:#00aff0;font-family:fontawesome}
p.more_btn{margin:0;padding:10px 0;text-align:center}
.adds img{width:100%}.appont{display:none;border:1px solid #00aff0;margin:0}
.appont .input-group input{border-color:#000;box-shadow:none;border:0 solid #ebebeb;border-radius:0;border-right:0;background-color:#ebebeb}
.appont .input-group input:focus{border-color:#000;box-shadow:none;border:0 solid #b4b4b4}
.appont span.input-group-addon.add-on{padding:0 10px;border-color:#ebebeb;border-left:0;cursor:pointer;border-radius:0}
.appont label{font-size:13px;font-weight:600;padding:0;margin:0;cursor:pointer;color:#454444}
.appont input.form-control{font-size:12px}
.appont select.selectpicker{border:1px solid #ebebeb;height:32px;font-size:12px;padding:0 11px;width:100%;background-color:#ebebeb}
.appont form{padding:15px 0}
.appont .radio{display:inline-block;padding:4px 0 0}
.appont .checkbox.checkbox-1{display:inline-block;width:24%;padding:0;margin:4px 0;font-size:13px}
.appont .title{color:#1a1818;font-weight:700;background-color:#f8f8f8;padding:2px 10px;-moz-box-shadow:0 2px 2px 1px rgba(0,0,0,0.175);-webkit-box-shadow:0 2px 2px 1px rgba(0,0,0,0.175);box-shadow:0 2px 2px 1px rgba(0,0,0,0.175)}
.appont-btn{width:100%;padding:3px 0;margin:9px 0 0;font-size:14px;line-height:inherit}

.bkapt_hdng{ color: #1a1818; font-weight: 700; background-color: #f8f8f8; padding: 2px 10px;
    -moz-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.175); -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.175); box-shadow: 0 2px 2px 1px rgba(0,0,0,0.175);
    display: inline-block; font-size: 15px;
}
.book_appwrap{ border-top: 1px solid #00afef; padding-top: 15px;}
.close_bookap{ position: absolute; cursor: pointer; right: 20px; top: 20px; width: 30px; height: 30px; z-index: 50;}
.brd_filt > .checkbox-1 { display: block!important; width: 100%!important;}
.brd_filt{ display: block; width: 100%;}
.inrpro_data2{ padding: 20px; background-color: #fff; margin-top: 15px; margin-right: 0px; box-sizing: border-box;}
.brd_tittle { display: table; border-bottom: 1px solid #00b0ef; font-weight: 600; color: #424147; font-size:14px;}
.search_inp{ width: 100%; display: block; padding: 6px 20px; outline: none; font-size: 14px; margin: 10px 0px;}
.mr_brands{ text-align: center; color: #00afef; font-size: 15px; width: 100%;}
.mr_brands a{ text-align: center; color: #00afef; text-decoration: none; display: block; padding: 5px 0px;}

.brf_view { padding: 5px 0 10px; list-style: none;}
.brf p { color: #666; padding: 0; font-weight: 600; font-size: 12px!important;}
.grg-brf p { font-size: 12px; line-height: initial; color: #787887;
    font-family: 'Open Sans',sans-serif; font-weight: 500;
}
.brf .btn.sc_item_button.grg-btn.app { display: inline-block; padding: 5px 10px;
    margin: 20px 0; width: 200px;
}
.brf_view li{ display: inline-block;}
.grg-star .ful-rat { color: #4e4e4e; padding: 0; font-size:12px; font-weight: 600;}
.star {display: inline-block; padding: 0 14px 0px 0px; font-size: 12px; color: #08b3f0;}
.brf_view i.fa.fa-thumbs-o-up { font-weight: 100; color: #00aff0; padding: 0 5px 0 20px;}
.brf_view li span { color: #4e4e4e; padding: 0; font-weight: 600; font-size: 12px;}
.gmap_bg{ border-left:1px solid #ddd;}

.tab_wrap{ display: block; padding: 0 20px;}
.tab_nav{ list-style: none; padding: 0px; margin: 15px 0px 0px 0px;}
.tab_nav li{ display: block; float: left; font-size: 14px; text-align: center;
    padding: 5px 2px; cursor: pointer; font-weight: bold;
}
.tab_data{ margin: 10px 0px; background-color: #fff; padding: 30px;}
.overview h2 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    font-size: 18px;
    white-space: nowrap;
    line-height: 1.4;
    color: #212121;
}
.overview .srv_tags tittle {
    font-weight: 600;
    color: #575454;
    padding: 0 15px 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    white-space: nowrap;
    line-height: 1.4;
    border-bottom: 0;
    font-family: 'Roboto',sans-serif;
}
ul.srv_tags tittle {
    display: table;
   
    font-weight: 600;
    color: #424147;
}
.overview p {
    font-size: 13px;
    color: #92929a;
}
.overview .srv_tags li a {
    font-size: 12px;
    padding: 0 10px 0 0;
    line-height: 1.4;
    color: #878787;
    font-weight: 600;
    margin-right: 8px;
    text-decoration: none;
}
.srv_tags li {
    display: inline-block;
}
.tit_wrap {
    font-weight: 600;
    color: #575454;
    padding: 0 15px 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    white-space: nowrap;
    line-height: 1.4;
    border-bottom: 0;
    font-family: 'Roboto',sans-serif; margin-top: 5px;
}
.srv_tags{ border: none;}
.timing {
    padding: 15px 0 0; list-style: none;
}
.timing li {
    padding: 0 9px!important;
    display: inline-block;
    list-style: none;
    vertical-align: top;
}
.timing li a {
    color: #00b0ef;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
}
.timing li a span {
    color: #878787;
    font-weight: 400;
}
.tm {
    display: block;
}
.product-page-comments h2 {
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    font-size: 18px;
    white-space: nowrap;
    line-height: 1.4;
    color: #212121;
    text-align: left;
}
.product-comments img {
    border: 1px solid #ddd;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}
.product-comments .product-comments-content {
    border: 1px solid #ddd;
    margin-left: 97px;
    padding: 10px;
    position: relative;
}
.product-comments .product-comments-content::before {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    content: "";
    display: block;
    height: 10px;
    left: -6px;
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
}
.product-comments .product-comments-content p {
    font-size: 14px;
    color: #212121;
}
.product-comments .product-comments-content p strong {
    text-transform: capitalize;
}
.product-comments .product-comments-content span.pro-comments-rating {
    float: right;
}
.pro-comments-rating.star {
    text-align: right;
    float: right;
    background: none;
    box-shadow: none;
}
.desc {
    font-size: 13px;
    line-height: 1.4;
}
.product-page-comments ul{ list-style: none; margin-bottom: 20px;}
.review-form-wrapper h3 {
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    font-size: 15px;
    white-space: nowrap;
    line-height: 1.4;
    color: #575757;
}
.review-form-wrapper input[type="text"], .review-form-wrapper input[type="email"] {
    border: 1px solid #e5e5e5;
    height: 35px;
    margin-bottom: 20px;
    padding: 0 0 0 10px;
    width: 100%;
    font-size: 13px;
    outline: none;
}
.your-rating h5 {
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 14px;
    white-space: nowrap;
    line-height: 1.4;
    color: #575757;
}
.your-rating span {
    margin-right: 25px;
}
.review-form-wrapper textarea {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: 13px;
    outline: none;
}
.review-form-wrapper input[type="submit"] {
    background: #252525 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    height: 38px;
    line-height: 40px;
    padding: 0 30px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all .3s ease 0;
    white-space: nowrap;
    width: auto;
    cursor: pointer;
}
.your-rating span a i {
    color: #666;
}

.tg-information {
    width: 100%;
    float: left;
    margin: 12px 0 22px;
    list-style: none;
}
.tg-information li:after {
    left: 0;
    top: 11px;
    content: '\f0da';
    font-size: 14px;
    line-height: 14px;
    font-family: 'FontAwesome';
    color: #444549;
    position: absolute;
}
.tg-information li {
    width: 100%;
    font-size: 13px;
    padding: 8px 0 8px 12px;
    line-height: normal;
    list-style-type: none;
    position: relative;
    color: #92929a;
}

span.active{ background-color: #00aff0; color: #fff; }
.tab_nav li span{ padding: 5px 10px;}

